.work-container{
    flex-direction: column;
    display: flex;
    margin-top:70px; 
}
.work-current-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-current-layout-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 90vw;
  margin-top: 2rem;
}

.work-top-layout{
  display: flex;
  justify-content: center;
}
.work-top-layout > div{
  width: 90vw;  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
  margin-bottom: 0.2rem;
}

.work-top-right{
  display: flex;
  flex-direction: row;
}

label{
  font-weight: bold;
}
/* .work-regist{
  border: 1px solid #bcbcbc;
  padding:1rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  
}
.work-regist:not(:last-child){
  margin-right:2rem;
} */
.work-regist{
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
  
}
.work-regist:first-child{
  margin-right: 1rem;
}
.work-regist:hover{
  opacity: 0.7;
  cursor: pointer;
  background-color: var(--BLUE-);
  color:white;
  border:none;
}
.count{
  font-weight: bold;
}
.page-arrow{
margin-left: 1rem;
margin-right: 1rem;
}
.pagination-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.page-num:hover,
.table-top-btn:hover,
.page-num-active:hover,
.page-arrow:hover
{
  opacity: 0.7;
  cursor: pointer;
}

.table-layout{
  display: flex;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

select{
  margin-right: 1rem;
}
.table-btns-layout{
  display:flex;
  align-items: center;
}

table{
  width: 90vw;
  border-collapse: collapse;
  margin-top: 1.3rem;
  border:1px solid #e9eaea;
  
}
th{
  background-color: #f9f9f9;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}


tbody td {
  /* border-top:1px solid #DFDADA;
  border-bottom:1px solid #DFDADA;
  border-right: 1px solid white; */
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

tbody td{
  padding-left:0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom:0.7rem;
}

td > div{
display: flex;
align-items: center;
justify-content: center;
}

thead{
    font-size: 1rem;
}

.table-btn{
  background-color: var(--PURPLE-);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin:0.4rem;
}
.table-btn:hover{
  opacity: 0.7;
  cursor: pointer;
}
.content-td{
  width: 50%;
}
input[type=checkbox] {
  transform: scale(1.5);
    display: inline-block;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}

.pagination-layout{
  justify-content: center;
  margin-top: 2rem;
}
.page-num{
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;

}
.page-num-active{
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.total-span{
  color: var(--BLUE-);
  font-weight: bold;

}
.search-layout{
 display: flex;
 margin-top: 3rem;
 margin-bottom: 3rem;
 justify-content: center;

}
.search-layout-inner{
  background-color: #f1f6fd;
  border: 1px solid #D5D5D5;
  width: 90vw;
  padding:1rem;
  display: flex;
  align-items: center;

}
.search-layout-inner {
  margin-right: 1rem;
  margin-left: 1rem;
}
.search-center{
  align-items: center;
}
.search-center > label{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search-layout-inner > div {
  align-items: center;
  justify-content: center;
  display: flex;
}
.search-btn{
  background-color: var(--BLUE-);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  border-radius: 4px;
  color: white;

}
.search-btn:hover{
  opacity: 0.7;
  cursor: pointer;
}

.search-inp{
    box-sizing: border-box;
    border: 1px solid #DBDDE2;
    color: black;
    font-size: 0.6rem;
    padding-left: 1rem;
     background-color: #ffffff;
     border-radius:5px;
     max-width: 21rem;
     height: 2.2rem;
     outline: none;
}

@media (max-width: 1000px){
  .table-top-layout{
    justify-content:space-between ;
    display: flex;
    width: 100%;

  }
  table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.3rem;
  }
  tbody td{
    padding-left:0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

}

